<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lifestyle Daily</title>
    <style>
        body {
            font-family: sans-serif;
            max-width: 800px;
            margin: auto;
            padding: 20px;
            background: #fafafa;
        }
    </style>
  </head>
  <body>
    <header style="border-bottom: 2px solid black;
                   margin-bottom: 20px;
                   padding-bottom: 10px">
      <h1>Lifestyle Daily</h1>
      <a href="/">Home</a>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
